*{
    margin: 0;
    padding: 0;
}



.shop p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #fff;
}
.shop h1{
    color: #ff7200;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: Arial;
}

.shop-hero p{
    color: #000000;
    font-size: 18px;
}

.shop-hero{
    height: 200px;
    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 40px 60px;
  font-family: Arial;
}

.product-card {
  background: #111;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
}

.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  margin: 15px 0 5px;
}

.price {
  color: #ff7200;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  background: #ff7200;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.product-card button:hover {
  background: #e66000;
}